<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to 'Articles', root_path,class:"navbar-brand"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li> -->
        <%if user_signed_in? %>
        <li class="nav-item">
          <%=link_to 'My Articles', mine_articles_path,class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%=link_to 'Add Article',new_article_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%=link_to 'Sign Out',destroy_user_session_path,method: :delete, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%=link_to 'Edit profile',edit_user_registration_path, class:"nav-link" %>
        </li>
        <% else %>
        <li class="nav-item">
          <%=link_to 'Sign In',new_user_session_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%=link_to 'Sign Up',new_user_registration_path,class:"nav-link" %>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="form-inline my-2 my-lg-0 form_control">
      <%= search_form_for @q do |f|%>
      <%= f.search_field :title_or_body_cont,placeholder:"Search"%>
      <% end %>

    </div>
 <!--    
  </div>
   <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  
  </div>
  -->
</nav>